:root {
  --brazowyBasic: #61422d;
  --brazowyCiemniejszy: #503623; /*#533925; #4d3422*/
  --brazowyDark: #4b3322;
  --ciemnyBrazowyBorder: #462f1f;

  --textBrazowy: #2c1f16; 
  --textSzary: #e0e0e0;

  --akcentRozowy: #b169a7;

}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    background-image: url(../Images/BgMistycznySklepOgrodniczy4.png);
    background-repeat: no-repeat;
}

.glass {
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px;
    background-color: rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
}

.fleksik {
    display: flex;
    width: 100%;
    justify-content: center;
}

.ColumnFleksik {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    color: var(--textSzary);
    text-shadow: 0 0 5px var(--textSzary);
}

/* ===================== Pasek / Header ===================== */

header {
    background-image: url(../Images/HeaderDetailsV2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--brazowyBasic);

    position: fixed;
    
    width: 100%;
    height: 5.7vh;
    min-height: 35px;
    z-index: 9999;

    border-bottom: 4px solid var(--brazowyDark);

}

.pasek {

    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 5.7vh;
    min-height: 35px;
    list-style: none;
}

.pasek li {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 1vw;
}

.pasek button {

    text-align: center;
    font-size: 0.78vw;
    height: 4vh;
    min-height: 25px;
    width: 10vw;
    padding: 0 30px;

    background-color: var(--brazowyCiemniejszy);
    color: var(--textSzary);

    border: 0;
    border-radius: 6px;
    transition-duration: 400ms;
}

.pasek button:hover {
    scale: 1.06;
    text-shadow: 0 0 5px var(--akcentRozowy);
    box-shadow: 0 0 3px 3px var(--akcentRozowy);
    color: var(--akcentRozowy);
}

.pasek p {
    color: var(--textSzary);
    text-shadow: 0 0 5px var(--textSzary);
}

#HeaderTitle {
    font-weight: 600;
    margin: 0 0 0 1vw;
    font-size: 1.15vw;
}

nav li {
    height: 5vh;
}


.pasek li:first-child {
    margin-right: 10px
}

.pasek li:nth-child(2) {
    margin-right: auto;
}

#LogoutButton {
    width: 6vw;
    color: rgb(206, 132, 132);
}

#LogoutButton:hover {
    text-shadow: 0 0 5px rgb(206, 132, 132);
    box-shadow: 0 0 3px 3px rgb(206, 132, 132);
}

.HeaderIconButton {
    width: 2vw;
    transition-duration: 400ms;
}

.HeaderIconButton:hover {
    scale: 1.1;
    filter: drop-shadow(0px 0px 3px var(--textSzary));
}

/* ===================== Menu ===================== */

menu {
    position: fixed;

    width: 100%;
    height: 4vh;
    min-height: 35px;
    top: 5.7vh;

    z-index: 9998;
}

menu ul {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}

menu a {

    height: 100%;
    padding: 0 30px;
    font-size: 0.75vw;

    display: flex;
    align-items: center;
    color: var(--textSzary);

    text-decoration: none;
    transition-duration: 400ms;
}

menu a:hover {
    color: var(--textSzary);
    text-shadow: 0 0 5px #e0e0e0;
}

/* ===================== Main ===================== */

/* ===--- TitleDivider ---=== */

.TitleDivider {
    width: 100%;
    height: 18vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 1vw;
    color: #e0e0e0;
    text-shadow: 0 0 5px #e0e0e0;
    text-align: center;

}

.TitleDivider p {
    font-weight: 600;
    font-size: 3.5vw;

}

.TitleDivider img {
    width: 50%;
    display: flex;
    align-self: center;
}

.TitleDividerSmall {
    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-weight: 600;
    font-size: 2.5vw;
    color: #e0e0e0;
    text-shadow: 0 0 5px #e0e0e0;
    text-align: center;
}

/* ===--- ShopElements ---=== */

.ElementContainer {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width: 75%;
    gap: 2vw;
}

.ShopElement, .DivElement {

    display: flex;
    flex-direction: column;

    color: var(--textBrazowy);

    background-color: var(--brazowyBasic);
    border: 0.32vw solid var(--ciemnyBrazowyBorder);
    border-radius: 10px;

    font-size: 0.85vw;
    
}

.DivElement {
    height: 27vh;
}

.ShopElement {

    width: 16vw;
    aspect-ratio: 1 / 1.5;

    padding: 1vh 0.5vw 1vh 0.5vw;
}

.ShopElementIMG {

    margin-bottom: 0.5vh;
    align-self: center;
    width: 80%;
}

.ShopQuickDescDiv p {
    overflow-wrap: break-word;
    height: 7vh;

    margin-top: 1vh;
    padding: 3px;

    border-top: 2px solid #2c1f16;
    border-bottom: 2px solid #2c1f16;

    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;

}

.ShopQuickDescDiv::-webkit-scrollbar {
  display: none;
}

.ShopElement button {
    text-align: center;
    font-size: 0.78vw;
    height: 4vh;
    margin: 0 0.3vw 0.5vh 0.3vw;
    padding: 0 1.5vw;

    background-color: var(--brazowyCiemniejszy);

    border: 0;
    border-radius: 6px;
    transition-duration: 400ms;
}

.ShopElement button:hover {
    scale: 1.05;
}

.AddToCartButton {
    /* background-color: rgb(46, 136, 46); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
}

.AddToCartButton:hover {
        box-shadow: 0 0 3px 3px rgb(46, 136, 46); /*rgb(42, 138, 42);*/
        
}

.AddToCartIcon {
    margin-bottom: 0vh;
    transition-duration: 400ms;
}

.AddToCartButton:hover .AddToCartIcon {
    filter: drop-shadow(0px 0px 3px rgb(46, 136, 46));
    /* inset: 0px 0px 3px rgb(46, 136, 46); */
}

.SeeMoreInfoButton {
    /* background-color: rgb(63, 108, 150); */

    
    color: white;
    font-weight: 600;
    width: 10.5vw;
/* 
    background-image: url(../Images/StoreIconFar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%; */
}

.SeeMoreInfoButton:hover {
    text-shadow: 0 0 5px var(--akcentRozowy); /*rgb(63, 108, 150)*/
    box-shadow: 0 0 3px 3px var(--akcentRozowy);
    color: var(--akcentRozowy);
}
