:root {
  --brazowyBasic: #61422d;
  --brazowyCiemniejszy: #503623; /*#533925; #4d3422*/
  --brazowyDark: #4b3322;
  --ciemnyBrazowyBorder: #462f1f;

  --textBrazowy: #2c1f16;
  --textSzary: #e0e0e0;

  --akcentRozowy: #b169a7;
}

/* ===================== Global ===================== */

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--textBrazowy);
  color: var(--textSzary);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../Images/BgMistycznySklepOgrodniczy4.png);
  background-repeat: no-repeat;
}

.glass {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
}

/* ===================== Pasek / Header ===================== */

header {
  background-image: url(../Images/HeaderDetailsV2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--brazowyBasic);

  position: fixed;

  width: 100%;
  height: 5.7vh;
  min-height: 35px;
  z-index: 9999;

  border-bottom: 4px solid var(--brazowyDark);
}

.pasek {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 5.7vh;
  min-height: 35px;
  list-style: none;
}

.pasek li {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1vw;
}

.pasek button {
  text-align: center;
  font-size: clamp(10px, 0.78vw, 0.78vw);
  height: 4vh;
  min-height: 25px;
  width: 10vw;
  padding: 0 30px;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);
  color: var(--textSzary);

  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}

.pasek button:hover {
  scale: 1.06;
  text-shadow: 0 0 5px var(--akcentRozowy);
  box-shadow: 0 0 3px 3px var(--akcentRozowy);
  color: var(--akcentRozowy);
}

.pasek p {
  color: var(--textSzary);
  text-shadow: 0 0 5px var(--textSzary);
}

#HeaderTitle {
  font-weight: 600;
  margin: 0 0 0 1vw;
  font-size: clamp(18px, 1.3vw, 1.3vw);
}

#HeaderTitleLogin {
  font-weight: 600;
  margin: 0 0 0 1vw;
  font-size: clamp(18px, 1.3vw, 1.3vw);
}

nav li {
  height: 5vh;
}

.pasek li:first-child {
  margin-right: 10px;
}

.pasek li:nth-child(2) {
  margin-right: auto;
}

#LogoutButton {
  width: 6vw;
  min-width: 50px;
  padding: 0;
  text-align: center;
  color: rgb(206, 132, 132);
}

#LogoutButton:hover {
  text-shadow: 0 0 5px rgb(206, 132, 132);
  box-shadow: 0 0 3px 3px rgb(206, 132, 132);
}

.HeaderIconButton {
  width: 3vw !important;
}

.HeaderIconButton:hover {
  box-shadow: 0 0 3px 3px #cccccc !important;
}

.pasek button img {
  width: clamp(25px, 1.85vw, 1.85vw);

  display: flex;
  justify-self: center;

  transition-duration: 400ms;
}

.pasek button:hover img {
  scale: 1.1;
  filter: drop-shadow(0px 0px 3px var(--textSzary));
}

.HeaderSeperator {
  width: 0.1vw;
  background-color: var(--ciemnyBrazowyBorder);
  height: 90%;

  margin: 0 0.3vw 0 0.3vw;
}

#LogIcon {
  margin-top: 0.1vh;
  margin-right: 0.4vw;

  border-radius: 3px;
  width: 32px;
  height: 32px;

  transition-duration: 400ms;
}

#LogIcon:hover {
  box-shadow: 0 0 3px 3px #cccccc !important;
}

.HeaderMoneyCount {
  font-weight: 600;
  width: 7vw !important;
  min-width: 60px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.HeaderMoneyCount:hover {
  color: var(--textSzary) !important;
  text-shadow: 0 0 5px var(--textSzary) !important;
  box-shadow: 0 0 3px 3px #cccccc !important;
}

.PasekZastepczeIMG:hover img {
  filter: drop-shadow(0px 0px 3px var(--akcentRozowy)) !important;
}

.PasekZastepczeIMG {
  min-width: 40px !important;
}

.PasekZastepczeIMG img {
  position: absolute;
  opacity: 0;
}

@media (max-width: 1150px) {
  .PasekZastepczeIMG {
    padding: 0 !important;
    width: 5vw !important;
  }

  .PasekZastepczeIMG b {
    opacity: 0;
    position: absolute;
  }

  .PasekZastepczeIMG img {
    opacity: 1;
    position: inherit;
  }

  .ShopContainer {
    grid-template-columns: auto auto auto !important;
  }

  .inventoryGrid {
    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5% !important;
  }

  .ShopQuickDescDiv p {
    height: 4.7vh !important;
  }

  .ShopElement::after {
    top: -2.5vw !important;
  }
}

#NapisZalogowano {
  margin-right: 0.3vw;
}

@media (max-width: 1450px) {
  #NapisZalogowano {
    display: none;
    position: absolute;
  }

  #HeaderTitle {
    display: none;
    position: absolute;
  }
}
/* ===================== Menu ===================== */

menu {
  position: fixed;

  width: 100%;
  height: 4vh;
  min-height: 35px;
  top: 5.7vh;

  z-index: 9998;
}

menu ul {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style: none;
}

menu a {
  height: 100%;
  padding: 0 30px;
  font-size: clamp(10px, 0.75vw, 0.75vw);

  display: flex;
  align-items: center;
  color: var(--textSzary);

  text-decoration: none;
  transition-duration: 400ms;
}

menu a:hover {
  color: var(--textSzary);
  text-shadow: 0 0 5px var(--textSzary);
}

/* ===================== Main ===================== */

/* ===--- TitleDivider ---=== */

.TitleDivider {
  width: 100%;
  height: 18vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: clamp(15px, 1vw, 1vw);
  color: var(--textSzary);
  text-shadow: 0 0 5px var(--textSzary);
  text-align: center;
}

.TitleDivider p {
  font-weight: 600;
  font-size: clamp(40px, 3.5vw, 3.5vw);
}

.TitleDivider img,
.TitleDividerSmall img {
  width: 50%;
  min-width: 400px;
  display: flex;
  align-self: center;
}

.TitleDividerSmall {
  width: 100%;
  height: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: 600;
  font-size: clamp(32px, 2.5vw, 2.5vw);
  color: var(--textSzary);
  text-shadow: 0 0 5px var(--textSzary);
  text-align: center;
}

/* ===--- Fleksik ---=== */

.fleksik {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ColumnFleksik {
  display: flex;
  flex-direction: column;

  text-align: center;
  color: var(--textSzary);
}

.ColumnFleksik h1 {
  text-shadow: 0 0 5px var(--textSzary);
}

/* ===--- ShopElements ---=== */

.ElementContainer {
  display: flex;
  justify-self: center;
  justify-content: space-between;
  width: 75%;
  flex-wrap: wrap;
  row-gap: 3vh;
}

.ShopContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2vw;
  row-gap: 3vh;
}

@media (max-width: 850px) {
  #Username {
    font-size: 12px;
    justify-self: left !important;
  }
}

@media (max-width: 750px) {
  .ShopContainer {
    grid-template-columns: auto auto !important;
  }

  .inventoryGrid {
    grid-template-columns: 25% 25% 25% 25% !important;
  }

  .ShopElement::after {
    top: -3.7vw !important;
  }
}

@media (max-width: 700px) {
  .ElementContainer {
    width: 80%;
  }

  .ColumnFleksik {
    align-items: center;
  }

  h1 {
    scale: 0.7;
  }
}

@media (max-width: 600px) {
  .ElementContainer {
    width: 90%;
    gap: 0;
  }

  #Username {
    display: none;
  }

  .AddToCartDetails {
    display: none;
  }

  .productDetailsFlex {
    flex-direction: column !important;
  }

}

@media (max-width: 1432px) {
  #Kategorie {
    justify-content: center !important;
  }
}

.ShopElement,
.DivElement,
.FiltrDiv,
.FundsDiv {
  display: flex;
  flex-direction: column;

  color: var(--textSzary);

  text-overflow: ellipsis !important;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyBasic);
  border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);
  border-radius: 10px;

  font-size: clamp(10px, 0.85vw, 0.85vw);
}

.FiltrDiv {
  width: fit-content !important;
  padding: 2vh 1.2vw 2vh 1.2vw;
  justify-self: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.FiltrDiv button {
    color: var(--textSzary);
}

.FiltrDiv button:hover {
  scale: 1.05;
  box-shadow: 0 0 3px 3px var(--akcentRozowy);
  text-shadow: 0 0 5px var(--akcentRozowy);
  color: var(--akcentRozowy);
}

.DivElement {
  height: 27vh;
}

.DivElement p,
.DivElement b {
  margin-left: 1vw;
  margin-top: 1.7vh;
}

.DivElement b {
  font-size: 1.5vw;
}

.DivInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.DivInfo26 {
  width: 26.5vw;
}

.DivInfo44 {
  width: 44.5vw;
}

.DivInfo p {
  font-size: clamp(15px, 1vw, 1vw);
  margin: -1.5vh 0 0 0 !important;
}

.pKategorie {
  width: 60%;
  /* text-shadow: 0 0 5px var(--textSzary); */
  font-size: clamp(15px, 0.9vw, 1vw);
}

.pKategorie p {
  background-color: rgb(0, 0, 0, 0.15);
  background: #ffffff;
  font-weight: 400;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(0, 0, 0, 0.15) 100%
  );
  padding: 5px;
  border-radius: 5px;
}

.KategoriaDiv b {
  font-size: clamp(20px, 1.5vw, 1.5vw);
}

.KategoriaDiv {
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
  cursor: pointer;
  margin-bottom: 2vh;

  width: 23vw;
  min-width: 350px;

  transition-duration: 400ms;
}

.KategoriaDiv:hover {
  filter: brightness(1.1);
  animation: obroc 1s normal;
  animation-play-state: running;
}

@keyframes obroc {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.KatRosliny {
  background-image: url(../Images/RoslinyKat.png);
}

.KatEliksiry {
  background-image: url(../Images/EliksiryKat.png);
}

.KatWyposazenie {
  background-image: url(../Images/WyposazenieKat.png);
}

.ShopElement {
  width: 16vw;
  aspect-ratio: 1 / 1.5;
  min-width: 200px;

  position: relative;
  overflow: visible;
  padding: 1vh 0.5vw 1vh 0.5vw;
}

.ShopElement::after {
  content: "";
  background-image: url(../Images/AfterShopElementBg.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  transform: scale(1.18);
  transform-origin: top;
  width: 100%;
  height: 40%;
  top: -2vw;
  left: 0;
}

.ShopElementIMG {
  margin-bottom: 0.5vh;
  align-self: center;
  width: 80%;
}

.ShopQuickDescDiv p {
  overflow-wrap: break-word;
  height: 7vh;

  margin-top: 1vh;
  padding: 3px;

  border-top: 2px solid #2c1f16;
  border-bottom: 2px solid #2c1f16;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ShopQuickDescDiv::-webkit-scrollbar {
  display: none;
}

.ShopElement button, .FundsDiv button, .infoDetails button, .FiltrDiv button {
  text-align: center;
  font-size: 0.78vw;
  height: 4vh;
  margin: 0 0.3vw 0.5vh 0.3vw;
  padding: 0 1.5vw;

  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);

  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}

.FundsDiv button {
  color: var(--textSzary);
}


.FundsDiv button:hover {
  scale: 1.05;
  text-shadow: 0 0 5px var(--textSzary) !important;
  box-shadow: 0 0 3px 3px #cccccc !important;
}

.ShopElement button:hover {
  scale: 1.05;
}

.AddToCartButton {
  /* background-color: rgb(46, 136, 46); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
}

.AddToCartButton:hover {
  box-shadow: 0 0 3px 3px rgb(46, 136, 46); /*rgb(42, 138, 42);*/
}

.AddToCartIcon {
  width: clamp(25px, 1.8vw, 1.8vw) !important;
  margin-bottom: 0vh;
  transition-duration: 400ms;
}

.AddToCartButton:hover .AddToCartIcon {
  filter: drop-shadow(0px 0px 3px rgb(46, 136, 46));
  /* inset: 0px 0px 3px rgb(46, 136, 46); */
}

.SeeMoreInfoButton {
  /* background-color: rgb(63, 108, 150); */

  font-size: clamp(10px, 0.78vw, 0.78vw) !important;
  color: var(--textSzary);
  font-weight: 600;
  width: 65%;
  /* 
    background-image: url(../Images/StoreIconFar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%; */
}

.SeeMoreInfoButton:hover {
  text-shadow: 0 0 5px var(--akcentRozowy); /*rgb(63, 108, 150)*/
  box-shadow: 0 0 3px 3px var(--akcentRozowy);
  color: var(--akcentRozowy);
}

/* FUNDS */

.FundsDiv {
  display: flex;
  width: 100%;
  height: 25vh;
  padding: 25px;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.InputFunds {
  padding: 0 0.8vw;
  height: 5vh;
  width: 15vw;

  color: var(--textSzary);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);

  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}

.InputFunds:focus {
  outline: none;
  background-color: var(--brazowyDark);
  box-shadow: 0 0 3px 3px #cccccc !important;
}

.FundsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#PokazBalans {
  font-size: 4vw;
  text-decoration: underline 3px;

  display: flex !important;
  justify-self: center !important;
  align-self: center !important;
}

.DivHistoria {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.DivHistoria ol {
  font-size: clamp(15px, 1vw, 1vw);
  margin-left: 40px;
  margin-top: 2vh;
  justify-self: flex-start;
}

/* Paragrafy Spacing */

.pHeight20vh {
  height: 20vh;
}

.pHeight10vh {
  height: 10vh;
}

.pHeight5vh {
  height: 5vh;
}

.pHeight3vh {
  height: 3vh;
}

.pHeight2vh {
  height: 2vh;
}

/* CART */

.cartElements {
  display: flex;
  width: 70vw;
  height: 60vh;
  padding: 20px;
  border-radius: 10px;

  background-color: var(--brazowyBasic);
  border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
  justify-self: center;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  overflow-x: hidden;
}

.cartProductElements {
  border-bottom: 4px solid var(--brazowyCiemniejszy);
  padding: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  position: relative;
}

.cartOrderSummary {
  display: flex;
  justify-content: center;

  background-color: var(--brazowyBasic);
  border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);

  align-items: center;
  justify-self: center;
  gap: 0.5vw;

  border-radius: 10px;
  margin-bottom: 2vh;
  width: 30vw;
  padding: 10px;
}

.cartOrderSummary p {
  padding: 12px;
  font-size: clamp(30px, 1.5vw, 1.5vw);
  text-shadow: 0 0 5px var(--textSzary);
  width: fit-content;
  border-radius: 7px;
}

.cartOrderSummary button {
  text-align: center;
  font-size: 0.78vw;
  height: 4vh;
  padding: 0 1.5vw;

  color: var(--textSzary);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);

  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}

.cartOrderSummary button:hover {
  scale: 1.05;
}

.productPhoto {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);
  border-radius: 7px;
  aspect-ratio: 1 / 1 !important;
  margin: 20px;
  width: 25%;
}

.productQuantityAddition {
  background-color: var(--brazowyBasic);
  border: clamp(2px, 0.26vw, 0.26vw) solid var(--brazowyCiemniejszy);
  padding: 5px;
  border-radius: 7px;
  margin: 20px;
  width: 8vw;
  min-width: 120px;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: clamp(15px, 1vw, 1vw);
  display: flex;
  flex-wrap: row;
}

.productQuantityAddition button {
  color: var(--textSzary);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);
  border-radius: 6px;
  border: none;
  padding: 20px;
  font-weight: bold;
  width: 30px;
  display: flex;
  justify-content: center;
  margin: 10px;

  transition-duration: 400ms;
}

.productQuantityAddition button:hover {
  text-shadow: 0 0 5px var(--textSzary); /*rgb(63, 108, 150)*/
  box-shadow: 0 0 3px 3px var(--textSzary);
  color: var(--textSzary);
  scale: 1.05;
}

.cartOrderSummary button:hover {
  text-shadow: 0 0 5px var(--akcentRozowy); /*rgb(63, 108, 150)*/
  box-shadow: 0 0 3px 3px var(--akcentRozowy);
  color: var(--akcentRozowy);
  scale: 1.05;
}

.productPhoto img {
  width: 100%;
  height: auto;
}

.productSummary {
  display: flex;
  margin-top: 3vh;
  flex-direction: column;
  width: 80%;
}

.CartNazwa {
  font-size: 150%;
  font-weight: 600;
}

.UsunFromCart {
  text-align: center;
  font-size: 0.78vw;
  height: 4vh;
  width: 12vw;
  margin-top: 1.5vh;
  padding: 0 1.5vw;

  color: rgb(206, 132, 132);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);

  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}

.UsunFromCart:hover {
  text-shadow: 0 0 5px rgb(206, 132, 132); /*rgb(63, 108, 150)*/
  box-shadow: 0 0 3px 3px rgb(206, 132, 132);
  color: rgb(206, 132, 132);
  scale: 1.05;
}

/* Inventory */

.inventoryGrid {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  row-gap: 2vh;
  width: 100%;
}

.inventoryGridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  width: 80%;
  aspect-ratio: 1 / 1;

  font-size: clamp(15px, 1.2vw, 1.2vw);

}

.inventoryGridItem img {
  width: 100%;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyBasic);
  border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);
  border-radius: 10px;
}

.inventoryGridItem p {
  text-shadow: 0 0 5px var(--textSzary);
  padding-top: 0.5vh;
}

.BrakPrzedmiotuWInventory {
  display: flex;
  justify-self: center;
  align-self: center;

}

.CartNazwa {
  font-size: 150%;
  font-weight: 600;
}

.UsunFromCart {
  text-align: center;
  font-size: 0.78vw;
  height: 4vh;
  width: 12vw;
  margin-top: 1.5vh;
  padding: 0 1.5vw;

  color: rgb(206, 132, 132);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);

  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}

.UsunFromCart:hover {
  text-shadow: 0 0 5px rgb(206, 132, 132); /*rgb(63, 108, 150)*/
  box-shadow: 0 0 3px 3px rgb(206, 132, 132);
  color: rgb(206, 132, 132);
  scale: 1.05;
}


/* Product Details */

.productDetailsFlex {
  display: flex;
  width: 100%;
}

.productDetailsDiv {
  width: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  
  padding: 15px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyBasic);
  border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);
  border-radius: 10px;
}

.imageDetails {
  width: 25%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;

  background-color: var(--brazowyCiemniejszy);

}

.infoDetails {
  
  display: flex;
  flex-direction: column;

  margin-top: 0.5vh;
  margin-left: 1vw;
  height: max-content;
}

.infoDetails p {
  font-size: 150%;
}


.infoDetails h2 {
  font-size: 180%;
  font-weight: 600;
}

.infoDetails h1 {
  font-size: 250%;
}

.pDesc2 {
  overflow-wrap: break-word;
  font-size: 120%;
  margin-left: 1vw;
}

.DetailsQuickDescDiv {
  overflow-wrap: break-word;

  margin-top: 1vh;
  padding: 5px 3px 5px 3px;

  font-size: 70%;
  border-top: 2px solid #2c1f16;
  border-bottom: 2px solid #2c1f16;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.DetailsCartAddButton {
  width: 10vw !important;
  margin-top: 1.5vh !important;
}

.DetailsCartAddButton p {
  font-size: clamp(10px, 0.8vw, 0.8vw);
  color: #2E882E;
}

.DetailsCartAddButton:hover {
  text-shadow: 0 0 5px #2E882E;
}

.inventoryGridItem img {
  width: 100%;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyBasic);
  border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);
  border-radius: 10px;
}

.inventoryGridItem p {
  text-shadow: 0 0 5px var(--textSzary);
  padding-top: 0.5vh;
}

.BrakPrzedmiotuWInventory {
  display: flex;
  justify-self: center;
  align-self: center;
}


.CartNazwa {
  font-size: 150%;
  font-weight: 600;
}

.UsunFromCart {
  text-align: center;
  font-size: 0.78vw;
  height: 4vh;
  width: 12vw;
  margin-top: 1.5vh;
  padding: 0 1.5vw;

  color: rgb(206, 132, 132);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);

  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}

.UsunFromCart:hover {
  text-shadow: 0 0 5px rgb(206, 132, 132); /*rgb(63, 108, 150)*/
  box-shadow: 0 0 3px 3px rgb(206, 132, 132);
  color: rgb(206, 132, 132);
  scale: 1.05;
}

/* Profile & Profile edit*/

.ProfileDiv {
  display: flex;
  flex-direction: column;

  color: var(--textSzary);

  text-overflow: ellipsis !important;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyBasic);
  border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);
  border-radius: 10px;

  font-size: clamp(10px, 0.85vw, 0.85vw);
}

.ProfileDiv {
  display: flex;
  width: 70%;
  height: 25vh;
  padding: 25px;
  justify-self: center;
  flex-direction: row;
}

.ProfileDiv button {
  color: var(--textSzary);
  padding: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);
  font-size: 0.78vw;
  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}

.ProfileDiv button:hover {
  scale: 1.05;
  text-shadow: 0 0 5px var(--textSzary) !important;
  box-shadow: 0 0 3px 3px #cccccc !important;
}

.ProfileActions img {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  width: 80%;
  height: auto;
}

.ProfileActions {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}

.ProfileActions button {
  display: flex;
  justify-content: center;
  width: 80%;
}

.ProfileDetails {
  width: 70%;
  padding-left: 2vw;
}

.ProfileElementContainer {
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 75%;
  flex-wrap: wrap;
  row-gap: 3vh;
}

.FiltrDiv select, .FiltrDiv option {
  margin: 0 0.3vw 0.5vh 0.3vw;
  padding: 0 0.8vw;
  height: 4vh;

  color: var(--textSzary);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);

  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}


.FiltrDiv input {
  margin: 0 0.3vw 0.5vh 0.3vw;
  padding: 0 0.8vw;
  height: 4vh;

  color: var(--textSzary);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--brazowyCiemniejszy);

  border: 0;
  border-radius: 6px;
  transition-duration: 400ms;
}

.FiltrFlex {
  display: flex;
  align-items: center;
}

.FiltrDiv input:focus,
.FiltrDiv select:focus {

  outline: none;
  box-shadow: 0 0 3px 3px var(--akcentRozowy);
  background-color: var(--ciemnyBrazowyBorder);
  color: var(--akcentRozowy);

}

.FiltrFlex button {
  padding: 0 0.6vw;
}

.FiltrFlex img {
  width: clamp(25px, 1.8vw, 1.8vw) !important;
  margin-bottom: 0vh;
  transition-duration: 400ms;
}

.FiltrDiv button:hover img {
  filter: drop-shadow(0px 0px 3px var(--textSzary));
}

.pWidth3vw {
  width: 3vw;
}
