:root{
    --InputBgColor: #81604a;

    --brazowyCiemniejszy: #503623;
    --brazowyDark: #4b3322;
    --ciemnyBrazowyBorder: #462f1f;

    --textBrazowy: #2c1f16; 
    --textSzary: #e0e0e0;
    --InputRozowy: #b169a7;
}
*{
    padding: 0;
    margin: 0;
    color: var(--textSzary);
}

body{
    width: 100vw;
    height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    background-image: url(../Images/BgMistycznySklepOgrodniczy4.png);
    background-repeat: no-repeat;
}


h1,h2,label{
    text-shadow: 0 0 16px #000000, 0 0 16px #000000;
}

label {
    transition-duration: 400ms;
}

h1{
    margin-block: 20px;
}

a {
    color: var(--textBrazowy);
    transition-duration: 400ms;
}

a:hover {
    color: var(--textSzary);
    text-shadow: 0 0 5px var(--textSzary);

}

.formLogowanie{
    width: 500px;
    height: 620px;

    left: 50%;
    top: 53.5%;
    transform: translate(-50%, -50%);
    
    position: absolute;

    color: var(--textBrazowy);
    background-color: var(--brazowyBasic);
    border: 0.32vw solid var(--ciemnyBrazowyBorder);
    border-radius: 10px;

    font-size: 0.85vw;
    
    
}

.Logowanie{
    
    position: relative;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    /* background-color: #fff; */
}

.Logowanie p {
    justify-self: center;
    color: var(--textBrazowy);
}

form input{
    position: relative;
    width: 96.5%;
    height: 2vh;

    margin-top: 10px;
    margin-bottom: 50px;
    padding: 7px;

    font-size: 15px;
    border-radius: 5px;

    background-color: var(--brazowyDark);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    transition-duration: 400ms;
}

form input:focus{
    background-color: var(--ciemnyBrazowyBorder);
    box-shadow: 0 0 3px 3px var(--akcentRozowy);
    color: var(--akcentRozowy);
}

h2{
    text-align: center;
    

}
.wyslij{
    position: relative;
    padding: 5px;
    width: 60%;
    left: 20%;
    padding: 15px;
    
}
.wyslij{

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: var(--brazowyCiemniejszy);

    border: none;
    cursor: pointer;
    transition-duration: 400ms;

}

.wyslij:hover{
    scale: 1.06;
    text-shadow: 0 0 5px var(--akcentRozowy);
    box-shadow: 0 0 3px 3px var(--akcentRozowy);
    color: var(--akcentRozowy);
}


.hr{
    width: 100%;
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr span{
    
    background-color: #999;
    
}
.Line{
    background-color: #9b9b9bd5;
    height: 1px;
    width: 50%;
    margin-inline: 5px;
}

.MetodyLogowania{
    width: 100%;
    height: 200px;
}

.MetodaLogowania{
    position: relative;
    width: 90%;
    left: 2.5%;
    margin-block: 10px;

    border: 1px solid #fff;
    backdrop-filter: blur(50px);
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    
    cursor: pointer;
    display: flex;
    
    align-items: center;
    transition-duration: 200ms;
}

.MetodaLogowania:hover{
    
    background-color: rgb(255, 255, 255, 0.1);
}

.MetodaLogowania p{
    margin-right: auto; 
    color: var(--textSzary) !important;
}

.MetodaLogowania img{
    height: 30px;
    margin-right: auto;
}