:root {
  --brazowyBasic: #61422d;
  --brazowyCiemniejszy: #503623; /*#533925; #4d3422*/
  --brazowyDark: #4b3322;
  --ciemnyBrazowyBorder: #462f1f;

  --textBrazowy: #2c1f16;
  --textSzary: #e0e0e0;

  --akcentRozowy: #b169a7;
}

.MVAMain {
    position: absolute;
    padding-top: 20px;
    width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
    color: var(--textBrazowy);
    background-color: var(--brazowyBasic);
    border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
input[type="number"] {
    width: 35px; 
    height: 40px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 30px;
    background-color: var(--brazowyCiemniejszy);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    color: var(--akcentRozowy);
    text-align: center;
    outline: none;
    transition: all 400ms ease-in-out;
    text-decoration: none;
}

input[type="number"]:focus {
    background-color: var(--brazowyDark);
    box-shadow: 0 0 3px 3px var(--akcentRozowy);
}

/* input[type="number"]:hover {
    background-color: #E5C6A8;
    cursor: pointer;
} */

input[type="number"]:disabled {
    background-color: lightgrey;
    border-color: grey;
}

@media (max-width: 600px) {
    .MVAMain {
        gap: 5px;
        padding: 10px;
        overflow-x: auto; 
    }

    input[type="number"] {
        width: 55px; 
        height: 30px;
        font-size: 14px;
    }
}

.smallP {
    font-size: 50% !important;
    font-weight: 400;
}
