:root {
  --brazowyBasic: #61422d;
  --brazowyCiemniejszy: #503623; /*#533925; #4d3422*/
  --brazowyDark: #4b3322;
  --ciemnyBrazowyBorder: #462f1f;

  --textBrazowy: #2c1f16;
  --textSzary: #e0e0e0;

  --akcentRozowy: #b169a7;
}

#finishMFA {
    display: none;
    position: absolute;
    padding-top: 20px;
    width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
    color: var(--textBrazowy);
    background-color: var(--brazowyBasic);
    border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}

.MFASetup {
    position: relative;
    justify-self: center;
    row-gap: 0.8vw;
    color: var(--textBrazowy);
    background-color: var(--brazowyBasic);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px
}

#setupMFA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: clamp(3px, 0.32vw, 0.32vw) solid var(--ciemnyBrazowyBorder);
    padding: 2rem;
    border-radius: 1rem;
    width: fit-content;
    margin: 2rem auto;
    background-color: var(--brazowyBasic);
    gap: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.MFASections {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    width: fit-content;
    margin: 2rem auto;
    gap: 2rem;
}

.mfaLeft {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: sans-serif;
}

.mfaLeft input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    width: 20rem;
    background-color: var(--brazowyBasic);
    outline: none;
}
.mfaLeft input::placeholder {
    font-style: italic;
}

.mfaDivider {
    width: 2px;
    background-color: #ddd;
    height: 120px;
}

.mfaRight img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 0.5rem;
}

#nextStep, #goBack {
    text-align: center;
    font-size: 0.78vw;
    height: 4vh;
    width: 10vw;
    margin: 0 0.3vw 0.5vh 0.3vw;
    padding: 0 1.5vw;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--brazowyCiemniejszy);

    border: 0;
    border-radius: 6px;
    transition-duration: 400ms;
}

#nextStep:hover, #goBack:hover {
    scale: 1.05;
    color: var(--akcentRozowy);
    box-shadow: 0 0 3px 3px var(--akcentRozowy);
    text-shadow: 0 0 5px var(--akcentRozowy);
}

#nextStep:disabled {
    cursor: not-allowed;
    background-color: var(--brazowyDark);
}

#success {
    display: none;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#success h2 {
    color: lightgreen;
}