.MVAMain {
    position: absolute;
    padding-top: 20px;
    width: 500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
    color: var(--textBrazowy);
    background-color: var(--brazowyBasic);
    border: 0.32vw solid var(--ciemnyBrazowyBorder);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
}


.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}
input[type="number"] {
    /* ustaw font-size jaki chcesz -----------------> dla piotrka */  
    width: 35px; 
    height: 40px;
    padding: 8px;
    border: 2px solid #8B5A2B;
    border-radius: 6px;
    font-weight: bold;
    font-size: 30px;
    background-color: #F5E1C8;
    color: #5A3E1B;
    text-align: center;
    outline: none;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

input[type="number"]:focus {
    border-color: #6F4F28;
    box-shadow: 0 0 6px rgba(139, 90, 43, 0.5);
    background-color: #ECD2B8;
}

input[type="number"]:hover {
    background-color: #E5C6A8;
    cursor: pointer;
}

input[type="number"]:disabled {
    background-color: lightgrey;
    border-color: grey;
}

@media (max-width: 600px) {
    .MVAMain {
        gap: 5px;
        padding: 10px;
        overflow-x: auto; 
    }

    input[type="number"] {
        width: 55px; 
        height: 30px;
        font-size: 14px;
    }
}
