:root {
    --InputBgColor: #81604a;

    --brazowyCiemniejszy: #503623;
    --brazowyDark: #4b3322;
    --ciemnyBrazowyBorder: #462f1f;

    --textBrazowy: #2c1f16;
    --textSzary: #e0e0e0;
    --InputRozowy: #b169a7;
}

* {
    padding: 0;
    margin: 0;
    color: var(--textSzary);
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    background-image: url(../Images/BgMistycznySklepOgrodniczy4.png);
    background-repeat: no-repeat;
}
label {
    transition-duration: 400ms;
}
h1 {
    margin-block: 20px;
}
h2 {
    margin-top: 15px;
    text-align: center;
}
a {
    transition-duration: 400ms;
}

a:hover {
    color: var(--InputRozowy);
    text-shadow: 0 0 5px var(--InputRozowy);

}

.formRejestracja {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    height: auto;
    top: 53.5%;

    justify-self: center;
    color: var(--textBrazowy);
    background-color: var(--brazowyBasic);
    border: 0.32vw solid var(--ciemnyBrazowyBorder);
    border-radius: 10px;




}
.Rejestracja {

    position: relative;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    /* background-color: #fff; */
}

p.logowanie {
    justify-self: center;
    margin-block: 15px;
    
}

a {
    color: var(--InputRozowy);
}

form input {
    position: relative;
    width: 95.5%;
    padding: 10px;
    height: 2vh;
    margin-block: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 5px;
    background-color: var(--brazowyDark);
    box-shadow: 0px 3px 5px #00000026;
    border: none;
    outline: none;
    transition-duration: 400ms;
}
form input:focus {
    background-color: var(--ciemnyBrazowyBorder);
    box-shadow: 0 0 3px 3px var(--akcentRozowy);
    color: var(--akcentRozowy);
}
.wyslij {
    position: relative;
    width: 60%;
    left: 20%;
    padding-block: 30px;
    padding: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: var(--brazowyCiemniejszy);
    border: none;
    cursor: pointer;
    transition-duration: 400ms;

}
.wyslij:hover {
    scale: 1.03;
    text-shadow: 0 0 5px var(--akcentRozowy);
    box-shadow: 0 0 3px 3px var(--akcentRozowy);
    color: var(--akcentRozowy);
}
.hr {
    width: 100%;
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr span {

    background-color: #999;

}
.Line {
    background-color: #9b9b9bd5;
    height: 1px;
    width: 50%;
    margin-inline: 5px;
}
.error{
    position: relative;
    margin-top: 10px;
    color: rgb(227, 56, 56);
    justify-self: center;
    
}

@media screen and (max-height: 900px) {
    .formRejestracja {
        height: 375px;
    }


    form input {
        margin-block: 5px;
    }

    .hr {
        margin-block: 5px;
    }

    .wyslij {
        width: 40%;
        left: 30%;
        padding: 8px;
        margin-block: 7.5px;
    }

    .logowanie {
        position: relative;
        top: 0;
    }

    label {
        font-size: 15px;
    }

    h2 {
        font-size: 24px;
        padding: 0;
        margin: 0;
    }

    p,
    span {
        font-size: 10px;
    }

    .Rejestracja {
        top: 1%;
    }

    .MetodaLogowania img {
        height: 20px;
        margin-right: auto;
    }
}

@media screen and (max-width: 600px) {
    .formRejestracja {
        width: 300px;
    }
}